/* icone da barra */
.barsicon {
    color: #343a40 !important;
}
/* area da logo na sidebar */
.brand-link{
    display: inline-block;
}
/* logo na sidebar */
.brand-image {
    padding-left: 20px;
}
/* foto de perfil na sidebar */
.profilepic {
    width: 50px !important;
    height: 50px !important;
}
/* area da foto de perfil na sidebar */
.profile {
    padding-left: 40px;
    padding-right: 90px;
}
/* icone logout na sidebar */
.profilelogout{
    padding-top: 30px !important;
    padding-bottom: 0;
}
/* mudando os links ativos para a id visual */
.active {
    background-color:#2F64E0 !important;
}
.main-footer a {
    color: #2F64E0;
}
